.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: blueviolet;
    font-size: 18px;
}

.activLink {
    composes: link;
    color: brown;
}

.navigationBar {
    border-bottom: 2px dashed black;
}